- title "Edit Ip Address"

- semantic_form_for(@ip_address) do |f|
	- f.inputs do
		= f.input :name, :label => 'DNS name', :hint => 'Fully qualified host name'
		= f.input :host, :label => 'Host', :hint => 'Belongs to host'
		= f.input :free, :label => 'Free', :required => false, :hint => 'Is the IP in use?'
		= f.input :comments, :label => 'Comments', :required => false, :input_html => {:rows => 5}
		= f.submit "Save"

%p
	= link_to "Show", ip_address_path(@ip_address)
	|
	= link_to "View All", ip_addresses_path
