- title "Hosts"

%table
  %tr
    %th Name
    %th Comments
    %th Host type
    %th Lock version
    %th Eol
  - for host in @hosts
    %tr
      %td= h host.name
      %td= h host.comments
      %td= h host.host_type_id
      %td= h host.lock_version
      %td= h host.eol
      %td= link_to 'Show', host
      %td= link_to 'Edit', edit_host_path(host)
      %td= link_to 'Destroy', host, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Host", new_host_path
