- title "Edit #{@cidr.cidr}"

- semantic_form_for(@cidr) do |f|
	- f.inputs do
		= f.input :name, :label => 'Name', :hint => "Descriptive name of the CIDR"
		= f.input :proxy, :label => 'Proxy', :hint => "Proxy for reaching the the network", :required => false
		= f.input :comments, :label => 'Comments', :required => false, :input_html => {:rows => 5}
		= f.submit "Save"

%p
	= link_to "Show", cidr_path(@cidr)
	|
	= link_to "View All", cidrs_path
