- title "Cidrs"

%table
	%thead
		%tr
			%th Cidr
			%th Name
			%th IPs
			%th Free IPs
	%tbody
		- for cidr in @cidrs
			%tr{:id => cycle('odd', 'even')}
				%td= link_to h(cidr.cidr), cidr
				%td= h cidr.name
				%td= h cidr.ip_addresses.count
				%td= h cidr.free_ips.count

%p= link_to "New Cidr", new_cidr_path
