- title "CIDR: #{@cidr.cidr}"

%p
	%strong Name:
	=h @cidr.name
%p
	%strong Comments:
	=h @cidr.comments
%p
	%strong Proxy:
	=h @cidr.proxy

%p
	= link_to "Edit", edit_cidr_path(@cidr)
	|
	= link_to "Destroy", @cidr, :confirm => 'Are you sure?', :method => :delete
	|
	= link_to "View All", cidrs_path
	|
	= link_to "Verify", verify_cidr_path(@cidr)

= render(:partial => "ip_addresses/ip_addresses", :object => @cidr.ip_addresses)
