- title "CIDR: #{@cidr.cidr} - #{@cidr.name}"

- unless @cidr.proxy.empty?
	%p
		%strong Proxy:
		=h @cidr.proxy

- unless @cidr.comments.empty?
	%p
		%strong Comments:
		=h @cidr.comments

%p
	= link_to "Edit", edit_cidr_path(@cidr)
	|
	= link_to "Destroy", @cidr, :confirm => 'Are you sure?', :method => :delete
	|
	= link_to "View All", cidrs_path
	|
	= link_to "Verify", verify_cidr_path(@cidr)

= render(:partial => "ip_addresses/ip_addresses", :object => @cidr.ip_addresses)
